.example-card {
  width: 248px;
  height: 100%;
  padding-top: unset;
  background-color: whitesmoke;
  mat-card {
    height: 100%;
  }

}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-spacer {
  flex: 1 1 auto;
}
